<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>Translation\Translation</fullnamespace>
    <descriptive locale="en_US">
        <title>Improves translation editing for Thelia and modules</title>
        <!--
        <subtitle></subtitle>
        <description></description>
        <postscriptum></postscriptum>
        -->
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Améliore l'edition des traductions pour Thelia et les modules</title>
    </descriptive>
    <!-- <logo></logo> -->
    <!--<images-folder>images</images-folder>-->
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>2.0.0</version>
    <authors>
        <author>
            <name>Vincent Lopes-Vicente, Nicolas Barbey</name>
            <email>vlopes@openstudio.fr, nbarbey@openstudio.fr</email>
        </author>
        <author>
            <name>Franck Allimant</name>
            <company>CQFDev</company>
            <email>thelia@cqfdev.fr</email>
            <website>www.cqfdev.fr</website>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.5.0</thelia>
    <stability>other</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
